html,body{
    margin: 0px;
    background-color: rgb(245, 245, 245);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card   {
    border-style: solid;
    border-width: 4px;
    border-radius: 12px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    max-width: 30%;
    min-width: 250px;
    max-height: 20%;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    font-family:'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
br{
    line-height: 3;
}
h1 {
    font-size: 1.25em;
    font-weight:lighter;
}
input {
    font-family:'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    width:9vmax;
    min-width: 170px;
    border: 0;
    border-bottom: 1.5px solid lightgray;
}
::placeholder{
    color: lightgray;
    opacity: 1;
}
button {
    font-family:'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    width: 75%;
    min-height: 30px;
    border: none;
    color: white;
    background-color: rgb(66, 148, 255);
    border-radius: 15px;
    box-shadow: 3px 3px 3px lightgray;
}
button:hover {
    font-family:'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    width: 75%;
    min-height: 30px;
    border: none;
    color: white;
    background-color: rgb(146, 17, 17);
    border-radius: 15px;
    box-shadow: 3px 3px 3px lightgray;
}